extends admin_base

block content
	.title #{title}
	.card
		.card-content
			table.pages-table
				tr
					th(style="width:50vw;") Title
					th Author
					th Date
					th Views
				tr
					td This is a title
					td admin
					td 03/07/2017
					td 467
				tr
					td This is a title
					td admin
					td 03/07/2017
					td 467
				tr
					td This is a title
					td admin
					td 03/07/2017
					td 467
				tr
					td This is a title
					td admin
					td 03/07/2017
					td 467
				tr
					td This is a title
					td admin
					td 03/07/2017
					td 467
