@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic,700italic,300italic);

* {
	margin:0;
	padding:0;

	--logo-accent-colour: rgba(41, 111, 204, 1) rgb(41, 111, 204);
	--main-accent-colour: rgb(195, 0, 0);
}

html {
	font-family: sans-serif;
	color:#000000;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height:100vh;
	width:100vw;
	background: #dddddd;
}
